
@{
    ViewBag.Title = "ListUser";
}

<h2>ListUser</h2>

<div>
    <table id="result" width="800" class="tblItems"></table>
</div>



@section Script
{
    <script>
        var url = serverUrl+"/api/tbl_Users";
        var DataRecive;
        function formatItem(item) {
            var sss = '<tr><td>Code</td><td>Name</td><td>Family</td><td>SelPhone</td><td>DateSave</td><td><a onclick="NewUser();">CreateNew</a></td></tr>';
            for (var i = 0; i < item.length; i++) {
                sss = sss + '<tr><td>' + item[i].Id + '</td><td>' + item[i].Name + '</td><td>' + item[i].Family + '</td><td>' + item[i].SelPhone + '</td><td>' + item[i].tarikhSabt + '</td><td>&emsp;<button onclick="EditUser(' + item[i].Id + ');">edit</button>&emsp;&emsp;<button  onclick="DeleteUser(' + item[i].Id + ');">Delete</button>&emsp;<a  href="../home/UploadPhoto/' + item[i].Id + '">ListPhoto</a>&emsp;</td></tr>';
            }
            return sss;
        };
        function GetTable() {
            $.getJSON(url).done(function (data) {
                DataRecive = data;
                $('#result').html(formatItem(data));
            }).fail(function (jgXHR, textstatus, err) {
                alert('ssss: ' + err);
            });
        };
        $(document).ready(function () {
            GetTable();
        });

        function DeleteUser(Id) {
            var conf = confirm('Really Deleted?');
            if (conf) {
                $.ajax({
                    url: url + '/' + Id,
                    type: 'DELETE',
                    success: function (result) {
                        alert('success :' + result);
                        GetTable();
                    }
                });
            }

        };
        function getUser(Id) {
            for (var i = 0; i < DataRecive.length; i++) {
                if (DataRecive[i].Id == Id) {
                    return DataRecive[i];
                }
            }
            return null;
        }
        function EditUser(Id) {
            var UserEdit = getUser(Id);

            if (UserEdit != null) {
                var conf = confirm('Really Edited?');
                if (conf) {

                    UserEdit.Name = prompt('Please enter your name');
                    UserEdit.Family = prompt('Please enter your family');
                    UserEdit.SelPhone = prompt('Please enter your mobile');
                    $.ajax({
                        url: url + '/' + Id,
                        type: 'PUT',
                        success: function (result) {
                            alert('success :' + result);
                            GetTable();
                        },
                        data: UserEdit
                    });
                } else {
                    alert('User Id Not Found');
                }
            }
        };
        function NewUser() {
            var Name = prompt('Please enter your name');
            var Family = prompt('Please enter your family');
            var SelPhone = prompt('Please enter your mobile');
            var dt = new Date($.now());
            var tarikhSabt = dt.getFullYear() + "/" + (dt.getMonth() + 1) + "/" + dt.getDate();
            var tbl_Users = { Id: '0', Name, Family, SelPhone, tarikhSabt };
            $.ajax({
                url: url,
                type: 'POST',
                data: tbl_Users,
                dataType: 'json',
                success: function (result) {
                    alert('Success Add User');
                    GetTable();
                },
                fail: function (res) { alert('Error : ' + res) }
            });
        };

        function UploadPhoto(Id) {
            alert(Id);
        }

    </script>
}
