@model int
@{
    ViewBag.Title = "UploadPhoto";
}
<h2 alt="nhnnn">UploadPhoto</h2>
<input type="file" id="file" name="file" />
<br />
<input type="text" id="Des" />
<br />
<div id="progress-wrp">
    <div class="progress-bar"></div>
    <div class="status">0%</div>
</div>
<button id="Upload">Upload</button>
<hr />
<div style="width:100%;">
    <section style="padding-top:0;width:100%;" class="wow fadeInUp">
        <article id="Slider">
            <div class="sldItems" data-animation="true">
                <div class="sld-arrow-right">
                    <div class="fa fa-arrow-right"></div>
                </div>
                <div class="sld-arrow-left">
                    <div class="fa fa-arrow-left"></div>
                </div>
                <div class="sldbase">
                    <div class="sld-container" id="itemSlideShow">
                        <div class="sld-item">
                            <a href="#">
                                <div class="sld-item-body">
                                    <div><img src="~/img/8.jpg" /></div>
                                    <div><div class="delItem"></div><h1>نام کاربر</h1><h4>توضیحات عکس </h4></div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </article>
    </section>
</div>

@section Script
{
    <script>
        var url = serverUrl + '/api/tbl_Photo/';
        var userid = @Model;
        var progress_bar_id = "#progress-wrp";
        ////////////////////////////////////////////////////////////////////////////upload
        $('#Upload').on('click', function (e) {
            if ($('#Des').val() != '') {
                var file = $('#file')[0].files[0];
                if (file != null) {
                    var upload = new Upload(file);
                    upload.doUpload();
                }
            } else {
                alert('Please Input Description Of Photo');
            }

        })
        var Upload = function (file) {
            this.file = file;
        };
        Upload.prototype.getType = function () {
            return this.file.type;
        };
        Upload.prototype.getSize = function () {
            return this.file.size;
        };
        Upload.prototype.getName = function () {
            return this.file.name;
        };
        Upload.prototype.doUpload = function () {
            var that = this;
            var formData = new FormData();

            // add assoc key values, this will be posts values
            formData.append("UploadedImage", this.file, this.getName());
            formData.append("upload_file", true);
            formData.append("Des", $('#Des').val());

            $.ajax({
                type: "POST",
                url: url+ '/' + userid,
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', that.progressHandling, false);
                    }
                    return myXhr;
                },
                success: function (data) {
                    alert('successful Upload Photo');
                    $(progress_bar_id + " .progress-bar").css("width","0%");
                    $(progress_bar_id + " .status").text("0%");
                    GetPhotos();
                },
                error: function (error) {
                    alert("error : "+error);
                },
                async: true,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                timeout: 60000
            });
        };
        Upload.prototype.progressHandling = function (event) {
            var percent = 0;
            var position = event.loaded || event.position;
            var total = event.total;
            if (event.lengthComputable) {
                percent = Math.ceil(position / total * 100);
            }
            // update progressbars classes so it fits your code
            $(progress_bar_id + " .progress-bar").css("width", +percent + "%");
            $(progress_bar_id + " .status").text(percent + "%");
        };
        ////////////////////////////////////////////////////////////////////////////photo
        var DataRecive;
        function clearIntervals() {
            var interval_id = window.setInterval("", 9999);
            for (var i = 1; i < interval_id; i++)
            window.clearInterval(i);
        };
        function RenderDate(item) {
            var sss = '';
            for (var i = 0; i < item.length; i++) {
                sss = sss + '<div class="sld-item"><div class="sld-item-body"><div><img title="' +  item[i].Description + '" src="' + serverUrl + item[i].PhotoPath + '"/></div><div><div class="delItem" onclick="delItem(' + item[i].Id + ');"></div><h4></h4></div></div></div>';
            }
            return sss;
        };
        function GetPhotos() {
            $.getJSON(url +'/'+ userid).done(function (data) {
                DataRecive = data;
                $('#itemSlideShow').html(RenderDate(data));
                clearIntervals();
                document.getElementById('Slider').outerHTML =document.getElementById('Slider').outerHTML;
                setScrollItem(document.querySelectorAll('.sldItems'), 4000);
            }).fail(function (jgXHR, textstatus, err) {
                alert('ssss: ' + err);
            });
        };
        $(document).ready(function () {
            GetPhotos();
        });
         function delItem(id) {
            var conf = confirm('do you nant to delete ?');
           if (conf) {
               $.ajax({
                   url: url + '/' + id,
                   type: 'DELETE',
                   success: function (result) {
                       alert('success Deleted');
                       GetPhotos();
                   },
                   fail: function (res) {
                       alert('Error : ' + res)
                   }
               });
            }
        };

    </script>
}

